doctype html
html
    head
        meta(http-equiv='Content-Security-Policy', content="default-src 'none'; img-src 'self'; style-src 'self'; script-src 'self';")
        base(href=baseDir)
        link(rel='stylesheet', href='history.css')
        script(src='history.js')
    body

        h2#title Local history

        dl#settings
            dt workspace
            dd #{workspaceRoot}
            dt local-history.path
            dd #{historyPath}
            dt search
            dd #{currentSearch}

        h3 #{currentFile.fsPath}

        a#refresh(href=encodeURI('command:local-history.refresh?'+JSON.stringify([providerUri])), title='Refresh')
            button.bar.button.button-img.refresh(type='button')
        a#more(href=encodeURI('command:local-history.refresh?'+JSON.stringify([providerUri, true])), title='See more history')
            button.bar.button.button-img.more(type='button')
        a#deleteAll(href=encodeURI('command:local-history.delete?'+JSON.stringify([providerUri, currentFile, true])), title='Delete all files from history')
            button.bar.button.button-img.deleteAll(type='button')

        if (!files || !files.length)
            div No history
        else
            table#history
                thead
                    tr
                        th.th-compare Compare
                        th History
                        th.th-delete Delete
                tbody
                    tr
                        td
                            a#diffHRef(href=encodeURI('command:local-history.compare?'), data-column=column, title='Compare')
                                button.button.button-img.compare(type='button')
                        td
                        td
                    each file, i in files
                        tr
                            td.compare
                                input.check-compare(type='checkbox', checked=(file.isChecked ? "checked" : undefined), data-historyfile=JSON.stringify(file.uri), data-current=(file.isCurrent ? "current" : undefined))
                            td
                                a(href=encodeURI('command:vscode.open?'+JSON.stringify([file.uri, column]))) #{file.caption}
                            td
                                if (!file.isCurrent)
                                    a#delete(href=encodeURI('command:local-history.delete?'+JSON.stringify([providerUri, file.uri, false])), title='Delete file')
                                        button.button.button-img.delete(type='button')
